<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h4>We understand the needs of your dog.</h4>
                <p>We appreciate that your pet is a member of the family and, in addition to love and attention, they need regular exercise.</p>
                <p>Exercise is vital for your dog’s overall health and well-being. Without regular walks your dog is susceptible to common and preventable medical issues such as pet obesity, heart and liver diseases, and osteoarthritis.</p>
                <p>Veterinarians advise that dogs require walking at least once daily to maintain a healthy lifestyle.</p>
            </div>
            <div class="col-lg-4">
                <h4>We serve local dog owners in Sydney's CBD and north shore</h4>
                <p>We serve local Sydney dog owners living in Barangaroo, the surrounding CBD area and North Shore suburbs.</p>
                <p>We understand that the pressures of a busy, professional life can make it difficult to always find time to provide your pet with the exercise they need.</p>
                <p>Max's Mutts is here to help.</p>
                <p>You can feel confident that your best friend is having fun and getting exercise in the care of responsible pet owners.</p>
            </div>
        </div>
        
        <div class="row text-center">
            <img class="img-responsive center-block" src="/img/illustration-gray.png" alt="Dog walking services">
        </div>
    </div>
</section>
