<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Contact</h3>
                    
                    <p><a href="#contact" title="Contact via email"><span class="contact-email-replace">please enable javascript to view</span></a></p>
                
                   <!-- <h3>Location</h3>
                    
                    <p>{{ site.address_street }}
                        <br>{{ site.address_city }}, {{ site.address_state }} {{ site.address_zip }}</p>-->
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Max's Mutts</h3>
                    <ul class="list-inline">
                        {% if site.instagram_username %}
                        <li>
                            <a title="Follow us on Instagram" href="https://www.instagram.com/{{ site.instagram_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram "></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About {{ site.title }}</h3>
                    <p>Max's Mutts provides affordable dog walking services to local dog owners in Sydney's CBD and north shore</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="font-size:10px">
                    <p><small>{{ site.description }}</small></p>

                    <p><small>Barangaroo &middot; Sydney CBD &middot; Sydney North Shore</small></p>

                    <p><small>Copyright &copy; Max's Mutts {{ site.time | date: "%Y" }}</small></p>
                    
                    <p><small>Site developed by JV Internet Solutions</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
