<!-- Services Section -->
<section class="success" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="pricing-container">
            <div class="pricing">
                <div class="price-option price-option-low">
                    <div class="price-option-detail">
                        <span class="price-option-type">1 dog walk</span>
                        <span class="price-option-cost">$25</span>
                        <span class="price-option-subtype">+ $15 per additional dog</span>
                    </div>
                    <a href="#" class="price-option-purchase">Contact Us</a>
                </div>
                <div class="price-option price-option-mid">
                    <div class="price-option-detail">
                        <span class="price-option-type">5 dog walks</span>
                        <span class="price-option-cost">$100</span>
                        <span class="price-option-subtype">+ $10 per additional dog</span>
                    </div>
                    <a href="#" class="price-option-purchase">Contact Us</a>
                </div>
                <div class="price-option price-option-high">
                    <div class="price-option-detail">
                        <span class="price-option-type">10 dog walks</span>
                        <span class="price-option-cost">$180</span>
                        <span class="price-option-subtype">+ $8 per additional dog</span>
                    </div>
                    <a href="#" class="price-option-purchase">Contact Us</a>
                </div>
            </div>
            <div class="price-disclaimer">All dog walks take approximately 30-45 minutes.</div>
        </div>
    </div>
</section>