/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * pricing table
 **/
.pricing-container {
    position: relative;
    display: block;
    text-align: center;
}
.pricing {
    position: relative;
    font-size: 0;
    opacity: 1;
    transition: opacity .2s ease;
}
.pricing .col-md-4 {
    padding-left: 1px;
    padding-right: 1px;
}

.price-option {    
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    margin-right: 0.3125em;
    font-size: 16px;
    opacity: 1;
    transition: opacity .2s ease;    
    border-radius: 6px;
    margin-top: 10px; 
}

.price-option:last-child { margin-right: 0; }

.pricing:hover .price-option { opacity: 0.6; }
.pricing:hover .price-option:hover { opacity: 1; }

.price-option-detail {
    padding: 2em 0;
    background: white;
    text-align: center;
}

.price-option-low .price-option-detail  { border-radius: .25em 0 0 0; }
.price-option-mid .price-option-detail  { 
    padding: 2.3em 0; 
    border-radius: .25em .25em 0 0; 

    @include media-query($on-laptop) {
        padding-top: 2em;        
    }
}
.price-option-high .price-option-detail { border-radius: 0 .25em 0 0; }

.price-option-cost,
.price-option-type,
.price-option-subtype {
    display: block;
}

.price-option-cost {
    font-size: 1.6em;
    margin-top: 0.5em;
    color: #383838;
}

.price-option-type {
    font-size: 1.6em;
    text-transform: uppercase;
    color: #909090;
}

.price-option-subtype {
    font-size: 0.7em;
    color: #909090;
    margin-top: 1em;
}
.price-option-purchase {
    position: relative;
    display: block;
    padding: .6em;
    font-size: .875em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
.price-disclaimer {
    font-size: 0.9em;
    color: white;
    margin-top: 1em;
}

.price-option-low .price-option-purchase  { background: $scheme-yellow; border-radius: 0 0 0 .25em; }
.price-option-mid .price-option-purchase  { background: $scheme-green; border-radius: 0 0 .25em .25em; }
.price-option-high .price-option-purchase { background: $scheme-orange; border-radius: 0 0 .25em 0; }

.price-option-purchase:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-style: solid;
}

.price-option-low .price-option-purchase:before  { border-color: transparent transparent $scheme-yellow; }
.price-option-mid .price-option-purchase:before  { border-color: transparent transparent $scheme-green; }
.price-option-high .price-option-purchase:before { border-color: transparent transparent $scheme-orange; }
